@model LibraryManagment.Models.BookViewModel

@{
    Layout = "~/views/shared/_Layout.cshtml";
    string imagePatch = Url.Content("~/ImgUpload/" + Model.ImagePath);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ویرایش</title>
</head>
<body>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Copies" class="control-label"></label>
                <input asp-for="Copies" class="form-control" />
                <span asp-validation-for="Copies" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="UploadFile" class="control-label"></label>
                    <input asp-for="UploadFile" type="file" class="form-control" />
                    <span asp-validation-for="UploadFile" class="text-danger"></span>
                </div>
                <br/>
                 <img src="@imagePatch" asp-append-version="true" style="max-height: 290px; max-width: 440px;" class="card-img-top img-thumbnail">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
